
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='http://www.baidu.com') 百度
    br
    - var userList
    - each user in userList 
        +user-widget(user)